.fb-like-cont {
    height: 0px;
    width: 0px;
    position: relative;
}

.fb-like-cont a, .fb-like-cont img {
    display: block;
    width: 26px;
    height: 26px;
}

.fb-like-cont div.fb-like {
    left: 30px;
}

.fb-like-cont a {
    position: absolute;
    opacity: 0.7;
}

.label-box {
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    font-size: 1em;
    line-height: 1em;
    border-radius: 3px;
    border: 1px solid rgb(46, 49, 54);
    outline: none;
    margin-bottom: 3px;
    background-color: lightgray;
    color: rgb(46, 49, 54);
    font-weight: bold;
}

.label-box > span {
    display: block;
    padding-top: 7px;

}

.box-rx, .box-tx {
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    max-width: 280px;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.14);
}

.box-rx {
    background-color: #738BD7;
    color: white;
    float: left;
}

.box-tx {
    background-color: white;
    float: right;
}
