body, html {
    background-color: #eee;
}

* {
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.3em;
    color: #999;
    font-family: 'Tahoma';
    text-decoration: none;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before {
    content: " ";
    display: table;
    clear: both;
}

.row:after {
    content: " ";
    display: table;
    clear: both;
}

.col-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
}

.col-12, .col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    color: #555;
    padding: 0 0 10px 0;
}

h1 {
    font-size: 2.0em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

label {
    font-weight: bold;
}

h1 {
    text-align: center;
    display: block;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#rx-spectrum {
    overflow-x: auto;
    margin: 10px 0 10px;
    border: 1px solid #eee;
}

.main-container {
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-inner {
    margin: 5px 0 20px 0;
    padding: 5px 0;
    border: 1px solid #eee;
}

.data-frame-textarea {
    width: 500px;
    height: 30px;
}

.rx-symbol span {
    display: inline-block;
    padding: 5px;
    margin: 0 3px 3px 0;
    border: 1px solid lightgray;
    color: gray;
}

.rx-symbol span.active {
    font-weight: bold;
    border: 1px solid black;
    color: black;
    background-color: yellow;
}

.tx-symbol a {
    display: inline-block;
    padding: 5px;
    margin: 0 3px 3px 0;
    border: 1px solid lightgray;
    color: gray;
}

.tx-symbol a:hover {
    font-weight: bold;
    border: 1px solid black;
    color: black;
    background-color: yellow;
}