#log {
    font-family: monospace;
}

#rx-frequency-bin {
    font-weight: bold;
    font-size: 1.2em;
}

#spectrogram-log {
    font-family: monospace;
}

#rx-symbol-log, #tx-symbol-queue {
    padding: 10px;
    border: 1px solid lightgrey;
    height: 250px;
    overflow-y: auto;
}

#rx-symbol-log div, #tx-symbol-queue div {
    float: left;
    margin: 0 10px 2px 0;
    padding: 2px 10px;
    font-family: monospace;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

