.spectrogram-container {
    min-height: 204px; /* Spectrogram.RENDERED_ROW_MAX * 5px + Spectrogram.RENDERED_ROW_MAX */
    /*opacity: 0.1;*/
}

.spectrogram {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.spectrogram .s-row {
    display: table-row;
    height: 5px;
}

.spectrogram .s-cell {
    display: table-cell;
    padding: 0;
    height: 5px;
}

.spectrogram .s-cell.s-cell-mark {
    border: 1px solid white;
}
