.log-container {
    font-family: monospace;
    font-size: 12px;
}

.rx-frame-candidate-container {
    min-height: 50px;
}

.rx-frame-container {
    overflow-y: scroll;
    height: 100px;
}

.rx-process-bar {
    position: relative;
    background-color: gray;
    height: 10px;
    outline: 1px solid black;
}

.rx-process-bar > div {
    position: absolute;
    background-color: yellow;
    bottom: 0px;
    top: 0px;
    left: 0px;
    width: 0%;
}

.rx-box-with-border {
    border: 1px solid #ddd;
    background-color: #eee;
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px;
    margin-bottom: 5px;
    width: 90%;
}

#rx-frame-payload-as-ascii {
    font-size: 16px;
}
