canvas {
    border: 1px solid gray;
    display: block;
}

.scroll-container {
    margin-bottom: 20px;
}

.gauge-container {
    width: 256px;
    height: 16px;
    border: 1px solid black;
    background-color: lightgray;
    overflow: hidden;
}

.gauge-container .gauge {
    height: 100%;
    background-color: darkorange;

    width: 25%;
}
