.visualizer-overlay-container {
    width: 0px;
    height: 0px;
    position: relative;
}

.visualizer-overlay {
    position: absolute;
    background-color: rgba(255, 255, 0, 0.3);
    width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.frequency-bin-iteration {
    width: 130px;
    min-height: 130px;
    float: left;
}
