.visualizer-overlay-container {
    width: 0px;
    height: 0px;
    position: relative;
}

.visualizer-overlay {
    position: absolute;
    background-color: rgba(255, 255, 0, 0.3);
    width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.frequency-bin-iteration {
    width: 130px;
    min-height: 130px;
    float: left;
}

.section-content-hidden {
    display: none;
}

h2 {
    cursor: pointer;
    position: relative;
    padding-right: 45px;
}

h2:hover {
    opacity: 0.9;
}

h2:after {
    font-family: Arial;
    font-size: 20px;
    line-height: 20px;
    content: '\25B2';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 22px;
    height: 22px;
}

h2.section-header-hidden:after {
    content: '\25BC';
}
