#sync-in-progress {
    white-space: nowrap;
}

#send-byte-button-container, #received-byte-container {
    width: 256px;
    height: 238px;
}

#send-byte-button-container a, #received-byte-container span {
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 2px 0 0 0;
    text-align: center;
    font-size: 10px;
    line-height: 1em;
    width: 16px;
    height: 14px;
    background-color: #eee;
    border: solid white;
    border-width: 0 1px 1px 0;
    color: black;
    font-family: "Tahoma", sans-serif;
}

#send-byte-button-container a {
    text-decoration: none;
    cursor: pointer;
}

#send-byte-button-container a:hover {
    background-color: #222;
    color: white;
}

#received-byte-container span {
    cursor: default;
}

#received-byte-container span.active {
    background-color: lightgreen;
}
