.rx-symbol {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 20px;
    background-color: lightgray;
}

.rx-symbol {
    font-size: 20px;
    line-height: 1em;
    display: block;
    text-align: center;
    padding-top: 10px;
}

.rx-symbol.active {
    background-color: greenyellow;
}
